# This file difine snippets used in html file
# 
# Index:
#	ihtml ----------------- init a h5 html page
# 


# init a h5 html page
snippet init.html "init a h5 html page" b
<!DOCTYPE html>
<html>
<head>
  <title>${1:title name}</title>
  <script src="js/main.js" type="application/javascript"></script>
  <link rel="stylesheet" type="application/css" href="css/main.css">
</head>
<body>
	${2:body}
</body>
</html> 
endsnippet
