# This file define snippets for snippets file 
# 
# Index:
#	isnip --------------- init a snippets file
# 
# Author: Mephis Pheies
# Email: mephistommm@gmail.com
# Update: 17.12.2015

# init a snippets file
snippet init.snip "init snippet file" b
# ${1:Description} 
# 
# Index:
#	$2
# 
# Author: Mephis Pheies
# Email: mephistommm@gmail.com
# Update: ${3:`date +%d`}.${4:`date +%m`}.`date +%Y`
$0
endsnippet

